body{
    color:white;
    font-family: 'Arial Narrow';
    margin:0px;
}
    .grid{
        display: grid;
        grid-template-areas: "head head" 
        "menu main "
        "foot foot ";
        grid-template-columns: 1fr 260px;
        grid-template-rows: 200px 1fr 150px;
        min-height: 100vh;
     }
    
    
    .a{
        grid-area:head;
        background-color: rgb(121, 108, 116);
       
    }
    
    .b{
        grid-area:menu;
        background-color: rgb(190, 190, 190);
        
    }
        
    .c{
        grid-area:main;
        background-color: rgb(75, 112, 106);
        text-align:justify 20px;
        color: black;
        
    }
    
    .d{
        grid-area:foot;
        background-color: rgb(236, 113, 12);
        padding: 20px;
        background-color: rgb(39, 66, 66);
    }

 
   

    h1{
     text-align:center;
     color: black;
     font-size: 50px;
    }
    #inicio{
        text-align: right;
        float: right;
        font-size: 20px;

    }
    #web{
        text-align: center;
        border: 0px ;
        background-color: rgb(121, 108, 116);
        color: rgb(36, 26, 26);
    }

    #tabla1{
        position: absolute;
        top: 30px;
        left: 40px;
        font-size: 25px;
        border: 0px solid rgb(255, 255, 255);
        margin: 10px;
        
    }
    #tabla{
        text-align:left;
        width: 80% ;
        padding-left: 10%;
    }
    img{
        float: left;
    }

    h2 {
        margin: 10px;
        border: 2px solid  rgb(153, 153, 155);
        background-color: rgb(153, 153, 155);
    }
    p{
        margin: 10px;
        border: 0px solid rgb(194, 109, 109);
    }

    nav{
        margin: 10px;
       
    }

    #grande{
        position: absolute;
        top: 20px;
        left: 250px;
    }
    
    #autor{
        background-color: rgb(236, 113, 12) ;
        width: 100%;
        text-align: center;
        clear:both;
    }

    #puntos{
        position:absolute;
        top: 10px;
        left: 50px;
        width: 150px;
        font-size: 25px;
        text-align: center;
        color: black;
        
    }
 label{
    color: black;
}  

.formulario1{
    width: 50%;
}

#OPI{
    position: absolute;
    top:40px;
    right: 60px;
    float: right;
    
}